a:link {
  text-decoration:none;
color: white;
}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


body {
   font-family: 'Candara', candara-light;  
}



header nav {
  display: flex;
  justify-content: flex-end;
  display: inline;
}

header li {
  padding: 0 20px;
  font-family: 'Candara', candara-light;
  margin-top: 100px;
  color:white;
  display: inline;
  font-size: 15px;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.content {
  position: fixed;
  text-align: center;
  top: 150px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.header {
  position: fixed;
  text-align: left;
  color: black;
}


#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color:grey;
  cursor: pointer;
  font-weight: 500;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

div h1 {
  font-family: 'Candara', candara-light;
  font-size: 50px;
}

div p {
  font-family: 'Candara', candara-light;
  font-size: 20px;
}


div li {
  font-family: 'Candara', candara-light;
  color:rgb(111, 149, 167);
  font-size: 15px;
  font-weight:600;
}


