a:link {
  text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body {
   font-family: 'Candara', candara-light;
   color: rgb(111, 149, 167);  
}


header{
	margin-top: 100px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header li {
  padding: 0 20px;
  color:rgb(111, 149, 167);
  display: inline;
  font-size: 15px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  background-image: url("img_about/ZHAO.jpg");

}

.jumbotron div h1 {
  color:black;
 
  text-align: left;
  margin-left: 600px;;
  font-size: 50px;
  
}

div h2 {
  text-align: center;
  font-size: 30px; 
}

div h3 {
  text-align: center;
  font-size: 30px;
}

div h4 {
  text-align: center;
  font-size: 30px; 
}

div h5 {
  text-align: center;
  font-size: 30px;
}


div p {
  text-align: center;
  font-size: 15px;
  font-weight: normal;  
}

footer ul {
  margin-left: 500px;
}

footer li {
   margin-right: 10px;
   display: inline;
   align-content: center;
  }

footer li img {
  width: 28px;
  height: 28px;
}


