a:link {
  text-decoration:none;
color: white;
}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body {
   font-family: 'Candara', candara-light; 
}


header{
	margin-top: 100px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header li {
  padding: 0 20px;
  color:rgb(111, 149, 167);
  display: inline;
  font-size: 15px;
}

div h1 {
  color:rgb(111, 149, 167);
}

img {
  width: 300px;
  height:230px;
  position:float;
}

.col-sm-8 {
  display:flex;
}


div p {
  text-align: left;
  font-size: 15px;
  font-weight: normal; 
}


div h2 {
  color: rgb(111, 149, 167);
  font-size: 40px;
}

footer ul {
  margin-left: 500px;
}

footer li {
   margin-right: 10px;
   display: inline;
   align-content: center;
  }

footer li img {
  width: 28px;
  height: 28px;
}

